@import '__vars';

.search-container {
    align-items: center;
}

.search-titles {
    align-items: center;
    justify-content: space-between;
}

.search-input-container {
    padding: 5px 2px;
    display: inline;
    border: 1px solid $muted;
    align-items: center;
    .search-input-icon {
        margin: 2px 5px;
    }
    input {
        background: none;
        outline: 0;
        border: none;
        color: $white;
        margin: 0;
        padding: 0;
    }
}

.gender-select-container {
    margin: 0 1em;
    select {
        padding: .5em;
        border: 1px solid $muted;
        background: none;
        color: $white;
        font-family: "Montserrat", sans-serif;
    }
    option {
        color: $muted;
    }
}



.single-data-container, .single-data-container-alt {
    font-size: 14px;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    border-bottom: 1px solid #333;
    padding: 1em 0;
    .data-name {
        grid-column: 1/2;
        text-transform: uppercase;
        font-weight: 600;
        margin-right: 1em;
    }
}

.data-container {
    h4 {
        align-items: center;
        span {
            margin-left: 5px;
        }
    }
    margin-right: 1.5em;
    .data {
        flex-wrap: wrap;
    }
    pre {
        padding: 0;
        margin: 0;
        word-break: break-all;
    }
}

